.colors {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.Red {
    background-color: red;

}
.Blue {
    background-color: blue;

}
.Green {
    background-color: #01ff02;

}
.Purple {
    
}
.Aqua {
    
}
.Yellow {
    
}